@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-image: url(../img/Fondo.png);
    background-repeat: repeat;
}

.nav-box{
    margin: 0 auto;
    display: flex;
    background-color: rgb(6, 124, 118);
    border: outset 10px rgba(50, 101, 99, 0.8);
    justify-content: space-between;
    height: 100px;
    width: 91%;
    align-items: center;
    text-align: center;
}

nav a{
    height: 100px;
}

body a,b{
    color: black;
}

nav ul li{
    display: inline;
    margin-right: 7px;
    background: linear-gradient(to top, rgb(22, 89, 101), rgba(0, 255, 89, 0.33));
	color: black;
	border: none;
	border-radius: 3px;
}

nav ul li:hover{
	background: linear-gradient(to top, rgb(126, 238, 184), rgb(135, 245, 175));
	transition: all 1s;
	cursor: pointer;
}

.footer-box{
    display: flex;
    background-color: rgb(6, 124, 118);
    border: outset 10px rgba(50, 101, 99, 0.8);
    align-items: center;
    flex-direction: column;
    font-size: 200%;
}

footer a{
    background: linear-gradient(to top, rgb(22, 89, 101), rgba(0, 255, 89, 0.33));
	color: black;
	border: none;
	border-radius: 3px;
}

footer a:hover{
    background: linear-gradient(to top, rgb(126, 238, 184), rgb(135, 245, 175));
	transition: all 1s;
	cursor: pointer;
}


/* Responsive */
@media only screen and (min-width: 320px){
    .nav-box{
        font-size: 100%;
    }
    .nav_img{
        height: 100px;
    }
    header ul{
        flex-direction: column;
    }
}

@media only screen and (min-width: 765px){
    .nav-box{
        font-size: 200%;
    }
}




