@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
//fonts
$mainFont: 'cyrillic' , Playfair-Display;

//text sizing
$textSm:.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;
$textXxl: 5em;

//font - weight
$bold:600;
$regular:400;
$light:300;
