.card{
    margin: 10px 10px;
}

.galeria{
    margin: 50px auto;
    padding: 50px 30px;
    border: double 10px $black;
    background-color: $SecondaryColor;
    display: flex;
    justify-content: space-evenly;
}
