// variables globales

$mainColor: rgb(6, 124, 118);
$SecondaryColor: rgba(50, 101, 99, 0.8);
$itemsColor: rgb(22, 89, 101), rgba(0, 255, 89, 0.33);
$hoverColor: rgb(126, 238, 184), rgb(135, 245, 175);
$black: #0F0E0E;
